*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(./imgs/back.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 30px;
}
.heading{
    color: #fbc24f;
    font-size: 40px;
    font-family:cursive;
    font-style: italic;
}
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bottons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.display{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    background-color: white;
    width: 720px;
    height: 720px;
    border-width: 10px;
    border-left-color: black;
    border-top-color: #f2a102;
    border-right-color:#f2a102;
    border-bottom-color: black;
    border-left-style: groove;
    border-top-style: ridge;
    border-right-style: groove;
    border-bottom-style: ridge;
}
.item{
    background-color: black;
    user-select: none;
}
.reset{
    width: 50px;
    height: 27px;
    border: 3px solid #f2a102; 
    background-color: black;
    color: white;
}
.text{
    font-size: 20px;
    color: #f2a102;
    font-family: cursive;
}

input[type="range"] {
    accent-color: #f2a102;
}